[Unit]
Description=MQTT service for psmqtt (pi).

[Service]
Type=simple
User=pi
Restart=always
RestartSec=5
ExecStartPre=/bin/sleep 30
ExecStart=/home/pi/systemstransmitter.sh

[Install]
WantedBy=multi-user.target
